@import-normalize;
@import './media.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--cl-yellow);
    cursor: pointer;
    border-radius: 2px;
  }
}

html,
body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  color: var(--cl-black);
  font-size: 16px;
  font-family: 'PT Root UI', Arial, sans-serif;
  line-height: 1.4;
  vertical-align: top;
  background: var(--cl-global-invert);
  backface-visibility: hidden;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--cl-blue);
  fill: var(--cl-blue);
  text-decoration: none;
  text-decoration: underline;
  transition: all var(--time) ease;

  &:hover {
    color: var(--cl-red);
    fill: var(--cl-red);
  }
}

strong,
b {
  font-weight: bold;

  i,
  em {
    font-weight: bold;
    font-style: italic;
  }
}

em,
i {
  font-style: italic;

  strong,
  b {
    font-weight: bold;
    font-style: italic;
  }
}

p {
  margin: 0 0 calc(var(--g) / 2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: calc(var(--g) / 2) 0;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 40px;
  line-height: 1.2;

  @include media(tablet-lg) {
    font-size: 24px;
  }
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.33;

  @include media(tablet-lg) {
    font-size: 20px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.3;

  @include media(tablet-lg) {
    font-size: 18px;
  }
}

h4 {
  font-size: 20px;
  line-height: 1.3;

  @include media(tablet-lg) {
    font-size: 18px;
  }
}

h5,
h6 {
  font-size: 16px;
  line-height: 1.5;
}

hr {
  background: none;
  border: none;
  border-bottom: 1px solid var(--cl-grey);
  display: block;
  position: relative;
  height: 1px;
  margin: calc(var(--g) / 2) 0;
  line-height: 0;
  font-size: 0;
}

ul,
ol {
  li {
    list-style: none outside;
  }
}

q,
blockquote {
  margin-bottom: calc(var(--g) / 2);
  font-weight: normal;
}

fieldset {
  border: 1px solid var(--cl-grey);
  margin-bottom: calc(var(--g) / 2);
  padding: var(--g);

  legend {
    position: relative;
    margin-left: -10px;
    padding: 0 10px;
  }
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
