:root {
    --cl-black: #000000;
    --cl-white: #ffffff;
    --cl-blue: #234099;
    --cl-red: #d62828;
    --cl-yellow: #fca311;
    --cl-grey: #666666;
    --cl-lg-grey: #e5e5e5;
    --gs: 8px;
    --g: calc(var(--gs) * 4);
    --time: 300ms;
}
