@import '../../styles/media.scss';

.main {
  position: relative;
  padding-top: calc(var(--gs) * 8);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: calc(var(--gs) * 6);
    background-image: linear-gradient(
      90deg,
      var(--cl-black) 13%,
      var(--cl-white) 26%,
      var(--cl-blue) 39%,
      var(--cl-red) 52%,
      var(--cl-yellow) 65%,
      var(--cl-grey) 78%,
      var(--cl-lg-grey) 90%
    );
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 calc(var(--gs) * 5);

  @include media(tablet-lg) {
    padding: 0 calc(var(--gs) * 3);
  }

  @include media(tablet) {
    padding: 0 calc(var(--gs) * 2);
  }
}
