@import '../../styles/media.scss';

.slick {
  &-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(var(--gs) * 6);
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    font-size: 0;
    transition: background-color var(--time) ease;

    @include media(tablet) {
      width: calc(var(--gs) * 5);
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      fill: var(--cl-red);
    }
  }

  &-next {
    right: 0;
  }

  &-prev {
    left: 0;
  }

  &-dots {
    position: absolute;
    bottom: -24px;
    right: 0;
    left: 0;
    font-size: 0;
    text-align: center;

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: calc(var(--gs) * 2);

      &:last-child {
        margin-right: 0;
      }
    }

    button {
      width: calc(var(--gs) * 1.5);
      height: calc(var(--gs) * 1.5);
      border-radius: 50%;
      background-color: var(--cl-red);
      border: 2px solid var(--cl-yellow);
      vertical-align: top;
      font-size: 0;
      transition: transform var(--time) ease;
    }
  }

  &-active {
    button {
      transform: scale(1.5);
    }
  }
}

.carousel {
  padding-bottom: calc(var(--gs) * 4);

  &__arrow {
    @include media(tablet-min) {
      width: 16px;
      height: 36px;
    }
  }

  &__item {
    padding: 0 calc(var(--gs) * 1);
    vertical-align: top;

    @include media(tablet) {
      padding: 0;
    }
  }
}
